<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tree Manager</title>

    <link th:rel="stylesheet" th:href="@{assets/jquery-treetable/jquery.treetable.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/jquery-treetable/jquery.treetable.theme.default.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Tree Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Add node</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col mt-5">

            <table id="treeTable" class="table">
                <thead>
                <tr>
                    <th>Value</th>
                    <th>Depth</th>
                    <th>Action</th>
                </tr>
                </thead>
            </table>

        </div>
    </div>

</div>

<div id="dialogDelete" class="modal fade bs-modal-sm" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Deleting node</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        Are you sure you want to remove node?
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button id="ok" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
<div id="dialogEdit" class="modal fade bs-modal-sm" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Editing node</h4>
            </div>
            <div class="modal-body">
                <div id="rowEdit" class="rowEdit">

                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/jquery-treetable/jquery.treetable.js}"></script>

<script type="text/javascript">
    $(document).ready(getData());
    function getData() {
        $.ajax({
            "type": 'get',
            "url": '/api/tree/all',
            "dataType": "json",
            "success": function (data) {
                $.each(data, function (idx, obj) {
                    $("#treeTable").append(`<tr id=${obj.nodeId} data-tt-id="${obj.nodeId}" data-tt-parent-id="${obj.parentId}"><td>${obj.value}</td><td>${obj.depth}</td><td><button onclick='edit(${JSON.stringify(obj)})'> edit</button><button onclick="del('${obj.nodeId}')">delete</button></td></tr>`);
                });
                $("#treeTable").treetable({
                    expandable: true,
                    initialState: "expanded",
                    clickableNodeNames: true,
                    indent: 30
                });
                $("#treeTable").on("mousedown", "tr", function() {
                    $(".selected").not(this).removeClass("selected");
                    $(this).toggleClass("selected");
                });
            }
        });
    }
    function del(nodeId){
        var dialog = $("#dialogDelete");
        dialog.modal("show");
        dialog.find("#ok").unbind("click");
        dialog.find("#ok").bind("click", function(event){
            var btn = $(this);
            btn.button("loading");
            $.ajax({
                "type": 'delete',
                "url": '/api/tree/'+nodeId,
                "dataType": "json",
                statusCode: {
                    404: function(responseObject, textStatus, jqXHR) {
                    },
                    200: function(responseObject, textStatus, errorThrown) {
                    document.querySelector("#\\3"+nodeId+" ").remove();
                    }
                }
            });
            btn.button("reset");
            dialog.modal("hide");
        });
    }
    function edit(obj){
        var dialog = $("#dialogEdit");
        console.log(obj)
        dialog.find(" #rowEdit").empty().append(`
                <div class="modal-body">
                    <label>VALUE</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="value" id="valueInput" name="grade_name" value="${obj.value}" required>
                    </div>
                    <label>PARENT_ID</label>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="parentId" id="parentIdInput" name="display_order" value="${obj.parentId}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                    <button id="submitEdit" class="btn btn-primary ml-1">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Update</span>
                    </button>
                </div>
            `)
        dialog.modal("show");
        dialog.find("#okEdit").unbind("click");
        dialog.find("#submitEdit").bind("click", function(event){
            var parentId = $("#parentIdInput").val();
            var value = $("#valueInput").val();
            var isNewTreeRoot = false;

            if(parentId == ""){
                isNewTreeRoot = true;
            }


            var btn = $(this);

            btn.button("loading");
            $.ajax({
                "type": 'patch',
                "url": '/api/tree/',
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify({
                    "nodeId": obj.nodeId,
                    "value": value,
                    "parentId": parentId,
                    "isNewTreeRoot": isNewTreeRoot
                }),
                statusCode: {
                    404: function(responseObject, textStatus, jqXHR) {
                    },
                    200: function(responseObject, textStatus, errorThrown) {
                        location.reload();
                    }
                }
            });
            btn.button("reset");
            dialog.modal("hide");
        });
    }
</script>

</body>
</html>