<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tree Manager</title>

    <link th:rel="stylesheet" th:href="@{assets/jquery-treetable/jquery.treetable.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/jquery-treetable/jquery.treetable.theme.default.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Tree Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col mt-5">

            <table id="treeTable" class="table">
                <thead>
                <tr>
                    <th>Value</th>
                    <th>Depth</th>
                    <th>Action</th>
                </tr>
                </thead>
            </table>

        </div>
    </div>

</div>

<div id="dialogDelete" class="modal fade bs-modal-sm" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Deleting node</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        Are you sure you want to remove node?
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button id="ok" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
<div id="dialogEdit" class="modal fade bs-modal-sm" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Editing node</h4>
            </div>
            <div class="modal-body">
                <div class="rowEdit">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button id="okEdit" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/jquery-treetable/jquery.treetable.js}"></script>

<script type="text/javascript">
    $(document).ready(getData());
    function getData() {
        $.ajax({
            "type": 'get',
            "url": '/api/tree/all',
            "dataType": "json",
            "success": function (data) {
                $.each(data, function (idx, obj) {
                    $("#treeTable").append(`<tr id=${obj.nodeId} data-tt-id="${obj.nodeId}" data-tt-parent-id="${obj.parentId}"><td>${obj.value}</td><td>${obj.depth}</td><td><button onclick="edit('${obj}')">edit</button><button onclick="del('${obj.nodeId}')">delete</button></td></tr>`);
                });
                $("#treeTable").treetable({
                    expandable: true,
                    initialState: "expanded",
                    clickableNodeNames: true,
                    indent: 30
                });
                $("#treeTable").on("mousedown", "tr", function() {
                    $(".selected").not(this).removeClass("selected");
                    $(this).toggleClass("selected");
                });
            }
        });
    }
    function del(nodeId){
        var dialog = $("#dialogDelete");
        dialog.modal("show");
        dialog.find("#ok").unbind("click");
        dialog.find("#ok").bind("click", function(event){
            var btn = $(this);
            btn.button("loading");
            $.ajax({
                "type": 'delete',
                "url": '/api/tree/'+nodeId,
                "dataType": "json",
                statusCode: {
                    404: function(responseObject, textStatus, jqXHR) {
                    },
                    200: function(responseObject, textStatus, errorThrown) {
                    document.querySelector("#\\3"+nodeId+" ").remove();
                    }
                }
            });
            btn.button("reset");
            dialog.modal("hide");
        });
    }
    function edit(obj){
        var dialog = $("#dialogEdit");

        document.querySelector("#dialogEdit > div > div > div.modal-body > div").append(${obj.nodeId});
        dialog.modal("show");
        dialog.find("#okEdit").unbind("click");
        dialog.find("#okEdit").bind("click", function(event){
            var btn = $(this);
            btn.button("loading");
            $.ajax({
                "type": 'patch',
                "url": '/api/tree/'+nodeId,
                "dataType": "json",
                statusCode: {
                    404: function(responseObject, textStatus, jqXHR) {
                    },
                    200: function(responseObject, textStatus, errorThrown) {
                        document.querySelector("#\\3"+nodeId+" ").remove();
                    }
                }
            });
            btn.button("reset");
            dialog.modal("hide");
        });
    }
</script>

</body>
</html>